# Mac and OS files
.DS_Store
*.sqlite3
media/
*.db
*.pid

# Dependency directories
node_modules/
jspm_packages/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution
.Python
build/
dist/
lib/
lib64/
parts/
sdist/
var/
wheels/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Local settings
*.log
local.py
.vscode

# virtualenv
.venv/
venv/
ENV/
env/
.env/

# mypy
.mypy_cache/

# django migrations 
**/migrations/**
!**/migrations
!**/migrations/__init__.py