/* 
        *
        *   Breakpoints for all devices listed here...
        *
        *   $breakpoint-small = 540px
        *   $breakpoint-med = 720px
        *   $breakpoint-large = 960px
        *
*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: $breakpoint-small) {
    .mobile {

        &-hidden {
            display: auto;
        }
    }

    .desktop {

        &-hidden {
            display: none;
        }
    }
}


@media only screen and (max-width: $breakpoint-small) {

    #App {
        padding: 1.5rem;
    }

    // --- Grid
    .container {
        // width: auto;
        // max-width: 80%;
        margin: 0 auto;
        // padding: 0;
    }

    // --- Helpers
    .mobile {
        &-p-0 {

            padding: 0 8px;
        }

        &-hidden {
            display: none;
        }
    }

    .row {
        margin: 0 auto;
    }

    // END Helpers

    // --- Typography
    .copy {
        padding: 1.5rem 0;
    }

    .mobile-reset {
        padding: 0;
        margin: 0;
    }

    .mobile-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .contact-button {
            margin: 2rem 0;
            padding: 1.5rem 4rem;
            background: $teal;
            color: white;
            font-size: 1.8rem;
            font-family: $font-title;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.15);
        }
    }

    #page>div>h1 {
        letter-spacing: 0;
        font-size: 4rem;
    }


    // END Typography


    // --- Navigation
    #nav {
        padding: 0;
    }


    // --- Homepage
    .hero {
        padding: 0;
        height: calc(100vh - 3rem);

        &--glyphs {
            margin-bottom: 2.5rem;

            img {
                margin: 0 1rem;
                height: 6rem;
            }
        }

        &--title {
            h1 {
                font-size: 9rem;
                margin: 0 auto;
                text-align: center;
            }

            h3 {
                font-size: 1.6rem;
                margin: 1.5rem 0;
            }

            small {
                font-size: 1.4rem;
                margin: 0;
            }
        }

        &--button {
            display: none;
        }
    }

    // END Homepage

    // --- Icons
    .icons {
        &-container {
            padding-top: 8rem;
            max-width: 80vw;

            &>img {
                height: 6rem;
                margin-bottom: 2.5rem;

                &:not(last-child) {
                    margin-right: 1rem;
                }
            }
        }

        &-inline {
            margin-left: 2rem;

            &--title {
                display: flex;
                align-items: center;
                padding: 3rem 0;
                margin-top: 6rem;
                font-size: 2.2rem;
            }

            &>img {
                // margin-right: 1.5rem;
                height: 4rem;
                width: 4rem;
            }
        }
    }

    // -- Contact Form
    .message-container {
        // height: 6rem;
        margin-top: 2.5rem;


        // textarea {
        //     padding-top: 1rem;
        // }
    }

    // END Icons

    // --- Vendors
    // .slick-list {
    //     max-height: 35rem;
    //     // position: relative;
    // }

    .slick-slide {

        &>div {
            padding: 0;
        }
    }

    // END Vendors


    .desktop-hidden {
        display: auto;
    }

    // END
}