// =====> HOMEPAGE STYLES <===== //

// --- CLASSES ---//

.hero {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;

  &--glyphs {
    text-align: center;
    width: 100%;
    z-index: 0;
    margin-bottom: 5rem;

    img {
      margin: 0 1.5rem;
      height: 9.5rem;

      @media only screen and (max-width: $breakpoint-small) {
        margin: 0 0.25rem;
        height: 7.5rem;
      }
    }

    // END svg
  }

  // END hero--glyphs

  &--image {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  &--title {
    // margin-left: auto;
    // margin-right: auto;
    padding: 0;
    z-index: 0;
    width: 100%;
    text-align: center;

    h1 {
      color: $red;
      font-size: 12rem;
      font-family: $font-title;
      text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
      line-height: 1.5;
      margin: 0;
    }

    h3 {
      color: $dark;
      font-size: 2.2rem;
      font-family: $font-title;
      font-weight: 600;
      margin-bottom: 2rem;
      line-height: 1.7;
    }

    small {
      color: $dark;
      font-size: 1.6rem;
      line-height: 1.6;
      display: block;
    }
  }

  // END .hero--title

  &--button {
    width: 40rem;
    position: relative;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    .arrow-right>span,
    .arrow-right>span::before,
    .arrow-right>span::after {
      background: $red;
    }

    button {
      font-size: 1.8rem;
      font-family: $font-title;
      font-weight: 700;
      background-color: transparent;
      border: none;
      text-align: left;
      cursor: pointer;
      transition: color 0.25s ease-in;

      a {
        color: $red;
      }

      &:hover a {
        transition: color 0.25s ease-in;
        color: $teal;
      }
    }

    // END .hero--button button

    &:hover .arrow-right>span {
      background: $teal;
      width: 12rem;
      transition: all 0.25s ease-in;

      &::before,
      &::after {
        background: $teal;
        transition: all 0.25s ease-in;
      }
    }
  }

  // END .hero--button
}

// END .hero

.arrow-right {
  margin-left: 1rem;
  display: inline-flex;

  span {
    position: relative;
    width: 5rem;
    height: 2px;
    border-radius: 2px;
    background: #000;
    transition: all 0.25s ease-out;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 2px;
      width: 1.5rem;
      border-radius: 2px;
      background: $black;
      transition: all 0.25s ease-out;
    }

    &::after {
      transform-origin: right bottom;
      transform: rotate(-40deg);
    }

    &::before {
      transform-origin: right top;
      transform: rotate(40deg);
    }
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  // transform: translate(-50%, -50%);
  border: 1px solid #000;
  z-index: -1;
}