{% extends './mayan_base.html' %}
{% load static %}

{% block content %}
<div class="py-3 container">
    {% include './components/glyphs.html' %}
    <div class="row">
        <small class="text-center block mt-3 mb-1">MAYAN STUDIO</small>
        <h1 class="text-center block mb-2">Let's Talk</h1>
    </div>
    <div class="px-3 row">
        <div class="col-xs-12 col-md-6 lead mb-4">
            <p>If you’re ready to take the next step then all you need to do is get in touch via your preferred contact
                method below. We respond to all form submissions within a couple of hours (typically quicker during
                working hours). We can’t wait!</p>
        </div>
    </div>
    <div class="px-3 pb-3 row">
        <div class="col-md-6">
            <h3 class="icons-inline--title">CONTACT
                {% include './components/icons_inline.html' %}
            </h3>
            <p class="mb-5">07738 151 767</p>
            <p class="mb-5">hello@mayanwebstudio.co.uk</p>
        </div>
        <div class="col-md-6">
            <form class="form-container" method="POST" action='/contact/'>
                {% csrf_token %}
                <div class="message-container">
                    {{ form.message }}
                    <label for="message" class="label-name">
                        <span class="content-name">How can I help you?</span>
                    </label>

                    {% if form.message.errors %}
                    {% for error in form.message.errors %}
                    <div class="error-message">{{ error|escape }}</div>
                    {% endfor %}
                    {% endif %}

                </div>
                <div class="field-container">
                    {{ form.fname }}
                    <label for="fname" class="label-name">
                        <span class="content-name">First Name</span>
                    </label>
                    {% if form.fname.errors %}
                    {% for error in form.fname.errors %}
                    <div class="error-message">{{ error|escape }}</div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="field-container">
                    {{ form.lname }}
                    <label for="lname" class="label-name">
                        <span class="content-name">Last Name</span>
                    </label>
                    {% if form.lname.errors %}
                    {% for error in form.lname.errors %}
                    <div class="error-message">{{ error|escape }}</div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="field-container">
                    {{ form.email }}
                    <label for="email" class="label-name">
                        <span class="content-name">Email</span>
                    </label>
                    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                    <div class="error-message">{{ error|escape }}</div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="field-container">
                    {{ form.phone }}
                    <label for="phone" class="label-name">
                        <span class="content-name">Phone</span>
                    </label>
                    {% if form.phone.errors %}
                    {% for error in form.phone.errors %}
                    <div class="error-message">{{ error|escape }}</div>
                    {% endfor %}
                    {% endif %}
                </div>
                <button type="submit" class="submit-button">SUBMIT</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}