{% extends 'mayan/mayan_base.html' %}

{% block content %}
<section class="hero">
    <div class="hero--title">
        {% include './components/glyphs.html' %}

        <h1>MAYAN</h1>
        <h3>Website Design &amp; Development Studio</h3>
        <small>Bespoke Online Solutions For SME’s &amp; Sole Traders</small>
        <div class="hero--button">
            <button>
                <a href="/about">Let's Go</a>
            </button>
            <span class="arrow-right"><span>
                </span>
            </span>
        </div>
    </div>
</section>
{% endblock content %}