{% load static %}
<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="author" content="Mike Blakeway @ Mayan Web Studio">
        <meta name=description content="description here">
        <title>Mayan Web Studio</title>
        <link rel="stylesheet" href="{% static "mayan/css/main.css" %}" type="text/css">
    </head>

    <body>
        <section class="hero">
            {% block content %}
            {% endblock content %}
        </section>
    </body>

</html>