// Theme Colors
$red: #79272b;
$teal: #369ba1;
$yellow: #f6a800;

// Grayscales
$white: #fff;
$light: #dedede;
$grey: #808080;
$dark: #464646;
$black: #000;

$width: 100%;
$gutter: 0%;
$breakpoint-small: 540px; // 540px
$breakpoint-med: 720px; // 720px
$breakpoint-large: 1200px; // 960px

// Fonts
$font-title: "Open Sans",
sans-serif;
$font-body: "Quicksand",
sans-serif;

$titlecolor: $red;
$fontcolor: $dark;

//Codrops

$color-text: $fontcolor;
$color-bg: #ddd;
$color-link: $red;
$color-link-hover: $teal;
$color-info: #fff;
$color-main-bg: #171619;
$path-fill-1: #413f46;
$path-fill-2: #e6e5ea;
$path-fill-3: #cccccc;
$color-title: $titlecolor;
$font-family-title: $font-title,
sans-serif;
$font-size-title: 7vmax;
$font-weight-title: 700;
$color-menu: $white;
$color-menu-hover: $yellow;
$font-family-menu: $font-title,
sans-serif;
$font-size-menu: 3vmax;
$font-weight-menu: 700;
$button-bg: transparent;
$button-circle: $teal;
$button-line: $teal;