{% load static %}

<!-- Author Portfolio -->
{% for author in authors %}
  <div class="single-widget portfolio-widget">
    <img
      class="img-fluid"
      src="{{ author.profile_image.url }}"
      alt=""
    />
    <a href="#">
      <h4>{{ author.user.get_full_name }}</h4>
    </a>
    <div class="desigmation">
      <p>{{ author.job_role }}</p>
    </div>
    <p>
      {{ author.author_bio }}
    </p>
    <ul>

      {% if author.facebook_url %}
        <li>
          <a href="{{ author.facebook_url }}"><i class="fa fa-facebook"></i></a>
        </li>
      {% endif %}
      {% if author.instagram_url %}
        <li>
          <a href="{{ author.instagram_url }}"><i class="fa fa-instagram"></i></a>
        </li>
      {% endif %}
      {% if author.dribble_url %}
        <li>
          <a href="{{ author.dribble_url }}"><i class="fa fa-dribbble"></i></a>
        </li>
      {% endif %}
      {% if author.linkdin_url %}
        <li>
          <a href="{{ author.linkdin_url }}"><i class="fa fa-linkedin-square"></i></a>
        </li>
      {% endif %}
      {% if author.github_url %}
        <li>
          <a href="{{ author.github_url }}"><i class="fa fa-github"></i></a>
        </li>
      {% endif %}

    </ul>
  </div>
{% endfor %}
  
  <!-- End Author Portfolio -->