  {% load static %}
  {% load humanize %}
  
  <!-- Latest Posts -->
  
    <div class="single-widget popular-posts-widget">
      <h4 class="title">Popular Posts</h4>
      <div class="blog-list ">
        {% for post in featured %}
            <div class="single-popular-post d-flex flex-column">
              <div class="popular-thumb">
                <img
                  class="img-fluid"
                  src="{{ post.thumbnail.url }}"
                  alt=""
                />
              </div>
              <div class="popular-details">
                <a href="blog-details.html">
                  <h4>{{ post.title }}</h4>
                </a>
                <p class="text-uppercase">{{ post.created_date | naturaltime }}</p>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>
  
  
  <!-- End Latest Posts -->