{% extends 'mayan/mayan_base.html' %} {% load static %} 

{% block head %}

<link
  href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400,500"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'posts/css/linearicons.css' %}" />
<link rel="stylesheet" href="{% static 'posts/css/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'posts/css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'posts/css/magnific-popup.css' %}" />
<link rel="stylesheet" href="{% static 'posts/css/nice-select.css' %}" />
<link rel="stylesheet" href="{% static 'posts/css/animate.min.css' %}" />
<link rel="stylesheet" href="{% static 'posts/css/owl.carousel.css' %}" />
<link rel="stylesheet" href="{% static 'posts/css/main.css' %}" />

{% endblock head %}

{% block content %}

	<!-- Start banner Area -->
<section class="banner-area">
  <div class="container">
    <div
      class="row d-flex no-margin section-gap align-items-center justify-content-center"
    >
      <div class="banner-content text-center col-lg-8">
        {% include '../mayan/components/glyphs.html' %}
        <div class="row no-margin">
          <small class="text-center block mt-3 mb-1">MAYAN STUDIO</small>
          <h1 class="text-center block mb-2">POSTS BY CATEGORY</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

	<!-- Start main body Area -->
	<div class="main-body section-gap">
		<div class="container box_1170">
			<div class="row">
				<div class="col-lg-8 post-list">
					<!-- Start Post Area -->
					<section class="post-area">
						<div class="row">

						{% for category in category_count %}
							<div class="col-lg-6 col-md-6">
								<div class="single-post-item short">
									<figure>
										<img class="post-img img-fluid" src="img/category/c1.jpg" alt="">
									</figure>
									<h3>
										<a href="blog-details.html">It’s hurricane season but we are
											visiting hilton head island</a>
									</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua.</p>
									<a href="blog-details.html" class="primary-btn text-uppercase mt-15">continue Reading</a>
									<div class="post-box">
										<div class="d-flex">
											<div>
												<a href="#">
													<img src="img/author/a1.png" alt="">
												</a>
											</div>
											<div class="post-meta">
												<div class="meta-head">
													<a href="#">Marvel Maison</a>
												</div>
												<div class="meta-details">
													<ul>
														<li>
															<a href="#">
																<span class="lnr lnr-calendar-full"></span>
																13th Oct, 2018
															</a>
														</li>
														<li>
															<a href="#">
																<span class="lnr lnr-bubble"></span>
																03
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}

						</div>
					</section>
					<!-- Start Post Area -->
				</div>


				<!-- Sidebar -->
				{% include './components/sidebar/sidebar.html'%}
				<!-- End Sidebar -->
			</div>
		</div>
	</div>
	<!-- Start main body Area -->

	{% endblock content %}

	{% block scripts %}

<script src="{% static 'posts/js/vendor/jquery-2.2.4.min.js' %} "></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script src="{% static 'posts/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'posts/js/easing.min.js' %} "></script>
<script src="{% static 'posts/js/hoverIntent.js' %} "></script>
<script src="{% static 'posts/js/superfish.min.js' %} "></script>
<script src="{% static 'posts/js/jquery.ajaxchimp.min.js' %} "></script>
<script src="{% static 'posts/js/jquery.magnific-popup.min.js' %} "></script>
<script src="{% static 'posts/js/owl.carousel.min.js' %} "></script>
<script src="{% static 'posts/js/jquery.nice-select.min.js' %} "></script>
<script src="{% static 'posts/js/waypoints.min.js' %} "></script>
<script src="{% static 'posts/js/mail-script.js' %} "></script>
<script src="{% static 'posts/js/main.js' %} "></script>
{% endblock scripts %}