{% extends './base.html' %} {% load static %} 

{% block content %}

	<!-- Start banner Area -->
<section class="banner-area">
  <div class="container">
    <div
      class="row d-flex no-margin section-gap align-items-center justify-content-center"
    >
      <div class="banner-content text-center col-lg-8">
        {% include '../mayan/components/glyphs.html' %}
        <div class="row no-margin">
          <small class="text-center block mt-3 mb-1">MAYAN STUDIO</small>
          <h1 class="text-center block mb-2">POSTS BY CATEGORY</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

	<!-- Start main body Area -->
	<div class="main-body section-gap">
		<div class="container box_1170">
			<div class="row">
				<div class="col-lg-8 post-list">
					<!-- Start Post Area -->
					<section class="post-area">
						<div class="row">

						{% for category in category_count %}
							<div class="col-lg-6 col-md-6">
								<div class="single-post-item short">
									<figure>
										<img class="post-img img-fluid" src="{% static 'posts/img/category/c1.jpg' %}" alt="">
									</figure>
									<h3>
										<a href="blog-details.html">It’s hurricane season but we are
											visiting hilton head island</a>
									</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua.</p>
									<a href="blog-details.html" class="primary-btn text-uppercase mt-15">continue Reading</a>
									<div class="post-box">
										<div class="d-flex">
											<div>
												<a href="#">
													<img src="img/author/a1.png" alt="">
												</a>
											</div>
											<div class="post-meta">
												<div class="meta-head">
													<a href="#">Marvel Maison</a>
												</div>
												<div class="meta-details">
													<ul>
														<li>
															<a href="#">
																<span class="lnr lnr-calendar-full"></span>
																13th Oct, 2018
															</a>
														</li>
														<li>
															<a href="#">
																<span class="lnr lnr-bubble"></span>
																03
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}

						</div>
					</section>
					<!-- Start Post Area -->
				</div>


				<!-- Sidebar -->
				{% include './components/sidebar.html'%}
				<!-- End Sidebar -->
			</div>
		</div>
	</div>
	<!-- Start main body Area -->

	{% endblock content %}
