{% extends './base.html' %}

{% load static %}


{% block content %}

  <!-- Start banner Area -->
  <section class="banner-area">
    <div class="container">
      <div
        class="row d-flex no-margin section-gap align-items-center justify-content-center"
      >
        <div class="banner-content text-center col-lg-8">
          {% include '../mayan/components/glyphs.html' %}
          <div class="row no-margin">
            <small class="text-center block mt-3 mb-1">MAYAN STUDIO</small>
            <h1 class="text-center block mb-2">WELCOME TO A BRAVE NEW WORLD</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->

  <!-- Start main body Area -->
  <div class="main-body section-gap mt--30">
    <div class="container">
      <div class="row no-margin">

          <!-- Start Featured Posts -->
        <div class="col-lg-8 post-list">
          <section class="post-area">
            <h1 class="title pb-30" style="color: #369ba1;">Latest Posts</h1>
            <!-- Start Post Loop -->
            {% for post in posts %}
                {% include './components/latest_posts.html' %}
            {% endfor %}
            <!-- End Post Loop -->

          </section>

          <!-- Pagination -->
          {% include './components/pagination.html' %}

        </div>
          <!-- End Featured Posts -->

          <!-- Sidebar -->
        {% include './components/sidebar/sidebar.html'%}
        <!-- End Sidebar -->
        
      </div>
    </div>
  </div>
  <!-- End main body Area -->

  <a class="invisible" href="https://colorlib.com" target="_blank">Colorlib</a>

{% endblock content %} 

{% block scripts %}

<script src="{% static 'posts/js/vendor/jquery-2.2.4.min.js' %} "></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script src="{% static 'posts/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'posts/js/easing.min.js' %} "></script>
<script src="{% static 'posts/js/hoverIntent.js' %} "></script>
<script src="{% static 'posts/js/superfish.min.js' %} "></script>
<script src="{% static 'posts/js/jquery.ajaxchimp.min.js' %} "></script>
<script src="{% static 'posts/js/jquery.magnific-popup.min.js' %} "></script>
<script src="{% static 'posts/js/owl.carousel.min.js' %} "></script>
<script src="{% static 'posts/js/jquery.nice-select.min.js' %} "></script>
<script src="{% static 'posts/js/waypoints.min.js' %} "></script>
<script src="{% static 'posts/js/mail-script.js' %} "></script>
<script src="{% static 'posts/js/main.js' %} "></script>
{% endblock scripts %}
